<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="graphql">
  <description>Default PHP CodeSniffer configuration for GraphQL.</description>
  <file>.</file>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <rule ref="Drupal">
    <!-- TODO: those rules are disabled for now until we fix the coding standards for them. -->
    <exclude name="Drupal.Commenting.ClassComment.Missing"/>
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
    <exclude name="Drupal.Commenting.FunctionComment.MissingParamComment"/>
    <exclude name="Drupal.Commenting.FunctionComment.MissingParamType"/>
    <exclude name="Drupal.Commenting.FunctionComment.MissingReturnComment"/>
    <exclude name="Drupal.Commenting.FunctionComment.InvalidNoReturn"/>
  </rule>

</ruleset>
