<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="graphql">
  <description>Default PHP CodeSniffer configuration for GraphQL.</description>
  <file>.</file>
  <exclude-pattern>node_modules</exclude-pattern>

  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml" />

  <rule ref="Drupal"></rule>
  <rule ref="DrupalPractice"></rule>

  <!-- We want to enforce use statements to be alphabetically sorted.  -->
  <rule ref="SlevomatCodingStandard.Namespaces.AlphabeticallySortedUses">
    <properties>
      <property name="caseSensitive" value="true" />
    </properties>
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints">
    <!-- Class constant type hints don't work with arrays in PHP 8.1. -->
    <exclude name="SlevomatCodingStandard.TypeHints.ClassConstantTypeHint" />
    <!-- We don't want to specify the traversable array type on hooks for example, ignore for now. -->
    <exclude
      name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingTraversableTypeHintSpecification" />
    <exclude
      name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingTraversableTypeHintSpecification" />
    <exclude
      name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingTraversableTypeHintSpecification" />
    <!-- Disable deprecated sniff. -->
    <exclude name="SlevomatCodingStandard.TypeHints.UnionTypeHintFormat" />
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.DeclareStrictTypes.DeclareStrictTypesMissing">
    <severity>5</severity>
  </rule>
  <rule ref="SlevomatCodingStandard.TypeHints.DisallowMixedTypeHint.DisallowedMixedTypeHint">
    <!-- We need the mixed type hint in some cases. -->
    <exclude-pattern>src/Entity/Server.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/Buffers/BufferBase.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/Execution/Executor.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/Execution/FieldContext.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/Execution/ResolveContext.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/Utility/FileUpload.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/DataProducerProxy.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Utility/Seek.php</exclude-pattern>
    <exclude-pattern>src/SubRequestResponse.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/TypedData/PropertyPath.php</exclude-pattern>
    <exclude-pattern>src/Plugin/DataProducerPluginInterface.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/CustomScalarInterface.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/ResolverRegistryInterface.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/ResolverRegistry.php</exclude-pattern>
    <exclude-pattern>tests/src/Traits/DataProducerExecutionTrait.php</exclude-pattern>
    <exclude-pattern>tests/src/Traits/MockingTrait.php</exclude-pattern>
    <exclude-pattern>tests/src/Traits/QueryResultAssertionTrait.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/Resolver/Context.php</exclude-pattern>
    <exclude-pattern>src/GraphQL/Resolver/Value.php</exclude-pattern>
  </rule>

  <rule ref="Drupal.Commenting.FunctionComment.MissingReturnComment">
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Images/ImageResourceUrl.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Field/EntityReference.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Menu/MenuTree/MenuTreeLink.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Menu/MenuLink/MenuLinkAttribute.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Menu/MenuLink/MenuLinkUrl.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Menu/MenuLink/MenuLinkExpanded.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Menu/MenuLink/MenuLinkDescription.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Routing/Url/UrlPath.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Routing/RouteLoad.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityPublished.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityRendered.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityType.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityLanguage.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityLoadMultiple.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityOwner.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityDescription.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityTranslation.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityLoad.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityTranslations.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/Fields/Image/ImageDerivative.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/Fields/Image/ImageUrl.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityAccess.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityLoadByUuid.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/EntityBundle.php</exclude-pattern>
    <exclude-pattern>src/Plugin/GraphQL/Schema/SdlSchemaPluginBase.php</exclude-pattern>
    <exclude-pattern>src/Plugin/DataProducerPluginManager.php</exclude-pattern>
    <exclude-pattern>src/Plugin/DataProducerPluginCachingInterface.php</exclude-pattern>
    <exclude-pattern>src/Controller/RequestController.php</exclude-pattern>
    <exclude-pattern>examples/graphql_example/src/Wrappers/QueryConnection.php</exclude-pattern>
    <exclude-pattern>examples/graphql_example/src/Plugin/GraphQL/DataProducer/QueryArticles.php</exclude-pattern>
    <exclude-pattern>tests/src/Traits/DataProducerExecutionTrait.php</exclude-pattern>
    <exclude-pattern>tests/src/Kernel/ResolverBuilderTest.php</exclude-pattern>
    <exclude-pattern>tests/src/Kernel/DataProducer/XML/XMLTestBase.php</exclude-pattern>
    <exclude-pattern>tests/src/Kernel/DataProducer/SeekTest.php</exclude-pattern>
    <exclude-pattern>tests/src/Kernel/GraphQLTestBase.php</exclude-pattern>
  </rule>

  <rule ref="DrupalPractice.Objects.GlobalClass">
    <exclude-pattern>src/Plugin/GraphQL/DataProducer/Entity/Fields/Image/ImageDerivative.php</exclude-pattern>
  </rule>

</ruleset>
