parameters:
  level: 6
  customRulesetUsed: true
  paths:
    - .
  ignoreErrors:
    # We inherit a lot of Drupal core docs that don't specify iterable types on
    # arrays, not sure we can fix this in a good way.
    - identifier: missingType.iterableValue
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static\\(\\)\\.$#"
